<!DOCTYPE html>
<html>
  <head>
    <title></title>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%="#{@description}"%>">
    
    <%= stylesheet_tag "app" %>
    <%= yield_content :css %>
      
    <%= javascript_tag "app" %>
    <%= yield_content :js %>
  </head>
  
  <body>
    <%= erb :'common/_header' %>
    <%= yield %>  
    <%= erb :'common/_footer' %>
  </body>
</html>